#submit {
    text-align: center;
  }
  
  
.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
  }
  
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 50%;
    margin-left: -60px;
  }
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
  }

  .panel{
    text-align: center;
    border-color: transparent ;
  }

  #button{
    padding: 1%;
  }

  #button-skip{
    padding: 2%;
  }


  #d1{
    padding: 1%;
  }
  
  #d2{
    padding: 1%;
  }
  #d3{
    padding: 1%;
  }
  #d4{
    padding: 1%;
  }
